name: ' Publish To AppSource'
run-name: 'Publish To AppSource - Version ${{ inputs.appVersion }}, Projects ${{ inputs.projects }}'

on:
  workflow_dispatch:
    inputs:
      appVersion:
        description: App version to deliver to AppSource (current, prerelease, draft, latest or version number)
        required: false
        default: 'current'
      projects:
        description: Projects to publish to AppSource if the repository is multi-project. Default is *, which will publish all projects to AppSource.
        required: false
        default: '*'
      GoLive:
        description: Promote AppSource App to go live if it passes technical validation?
        type: boolean
        default: false

permissions:
  actions: read
  contents: read
  id-token: write

defaults:
  run:
    shell: powershell

env:
  ALGoOrgSettings: ${{ vars.ALGoOrgSettings }}
  ALGoRepoSettings: ${{ vars.ALGoRepoSettings }}

jobs:
  Initialization:
    needs: [ ]
    runs-on: [ windows-latest ]
    outputs:
      telemetryScopeJson: ${{ steps.init.outputs.telemetryScopeJson }}
    steps:
      - name: Dump Workflow Information
        uses: microsoft/AL-Go-Actions/DumpWorkflowInfo@main
        with:
          shell: powershell

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Initialize the workflow
        id: init
        uses: microsoft/AL-Go-Actions/WorkflowInitialize@main
        with:
          shell: powershell

  Deliver:
    needs: [ Initialization ]
    runs-on: [ windows-latest ]
    name: Deliver to AppSource
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Read settings
        uses: microsoft/AL-Go-Actions/ReadSettings@main
        with:
          shell: powershell

      - name: Determine secrets
        id: DetermineSecrets
        uses: microsoft/AL-Go-Actions/DetermineSecrets@main
        with:
          shell: powershell
          getSecrets: 'appSourceContext'

      - name: Read secrets
        id: ReadSecrets
        uses: microsoft/AL-Go-Actions/ReadSecrets@main
        with:
          shell: powershell
          gitHubSecrets: ${{ format(steps.DetermineSecrets.outputs.formatStr,toJSON(secrets[steps.DetermineSecrets.outputs.S0]),toJSON(secrets[steps.DetermineSecrets.outputs.S1]),toJSON(secrets[steps.DetermineSecrets.outputs.S2]),toJSON(secrets[steps.DetermineSecrets.outputs.S3]),toJSON(secrets[steps.DetermineSecrets.outputs.S4]),toJSON(secrets[steps.DetermineSecrets.outputs.S5]),toJSON(secrets[steps.DetermineSecrets.outputs.S6]),toJSON(secrets[steps.DetermineSecrets.outputs.S7]),toJSON(secrets[steps.DetermineSecrets.outputs.S8]),toJSON(secrets[steps.DetermineSecrets.outputs.S9]),toJSON(secrets[steps.DetermineSecrets.outputs.S10]),toJSON(secrets[steps.DetermineSecrets.outputs.S11]),toJSON(secrets[steps.DetermineSecrets.outputs.S12]),toJSON(secrets[steps.DetermineSecrets.outputs.S13]),toJSON(secrets[steps.DetermineSecrets.outputs.S14]),toJSON(secrets[steps.DetermineSecrets.outputs.S15]),toJSON(secrets[steps.DetermineSecrets.outputs.S16]),toJSON(secrets[steps.DetermineSecrets.outputs.S17]),toJSON(secrets[steps.DetermineSecrets.outputs.S18]),toJSON(secrets[steps.DetermineSecrets.outputs.S19]),toJSON(secrets[steps.DetermineSecrets.outputs.S20]),toJSON(secrets[steps.DetermineSecrets.outputs.S21]),toJSON(secrets[steps.DetermineSecrets.outputs.S22]),toJSON(secrets[steps.DetermineSecrets.outputs.S23]),toJSON(secrets[steps.DetermineSecrets.outputs.S24]),toJSON(secrets[steps.DetermineSecrets.outputs.S25]),toJSON(secrets[steps.DetermineSecrets.outputs.S26]),toJSON(secrets[steps.DetermineSecrets.outputs.S27]),toJSON(secrets[steps.DetermineSecrets.outputs.S28]),toJSON(secrets[steps.DetermineSecrets.outputs.S29]),toJSON(secrets[steps.DetermineSecrets.outputs.S30]),toJSON(secrets[steps.DetermineSecrets.outputs.S31])) }}

      - name: Deliver
        uses: microsoft/AL-Go-Actions/Deliver@main
        env:
          Secrets: '${{ steps.ReadSecrets.outputs.Secrets }}'
        with:
          shell: powershell
          type: 'Release'
          projects: ${{ github.event.inputs.projects }}
          deliveryTarget: 'AppSource'
          artifacts: ${{ github.event.inputs.appVersion }}
          goLive: ${{ github.event.inputs.goLive }}

  PostProcess:
    needs: [ Initialization, Deliver ]
    if: always()
    runs-on: [ windows-latest ]
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Finalize the workflow
        id: PostProcess
        uses: microsoft/AL-Go-Actions/WorkflowPostProcess@main
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          shell: powershell
          telemetryScopeJson: ${{ needs.Initialization.outputs.telemetryScopeJson }}
          currentJobContext: ${{ toJson(job) }}
