name: Cleanup Temp Repos

on:
  workflow_dispatch:
    inputs:
      githubOwner:
        description: GitHub organization set as owner for the temp repositories (default is to use your personal account)
        required: false
        default: ''
    workflow_run:
      workflows: [End to end tests]
      types:
        - completed

defaults:
  run:
    shell: pwsh

permissions:
  contents: read

jobs:
  CleanupRepos:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }} # Run only if dispatched or the End to end tests workflow has succeeded
    runs-on: [ ubuntu-latest ]
    name: Cleanup Temp Repos
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'microsoft'
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Check E2EPAT Secret is defined
        if: ${{ vars.E2E_APP_ID == '' }}
        run: |
          if ('${{ Secrets.E2EPAT }}' -eq '') {
            Write-Host "::Error::In order to run end to end tests, you need a Secret called E2EPAT containing a valid Personal Access Token with the following permissions: admin:org, delete_repo, repo, workflow, packages:write"
            exit 1
          }

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get GitHub Owner
        id: getGitHubOwner
        env:
          githubOwner: ${{ github.event.inputs.githubOwner }}
        run: |
          ${{ github.workspace }}/Internal/Scripts/GetOwnerForE2ETests.ps1 -githubOwner $env:githubOwner

      - uses: actions/create-github-app-token@3ff1caaa28b64c9cc276ce0a02e2ff584f3900c5 # v2.0.2
        id: app-token
        if: ${{ vars.E2E_APP_ID != '' }}
        with:
          app-id: ${{ vars.E2E_APP_ID }}
          private-key: ${{ secrets.E2E_PRIVATE_KEY }}
          owner: ${{ steps.getGitHubOwner.outputs.githubOwner }}

      - name: Cleanup Temp Repositories
        env:
          githubOwner: ${{ steps.getGitHubOwner.outputs.githubOwner }}
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.E2EPAT }}
        run: |
          ${{ github.workspace }}/Internal/Scripts/RemoveTempRepos.ps1 -githubOwner $env:githubOwner
