name: End to end tests

run-name: End to end tests - ${{ github.event.inputs.ref != '' && github.event.inputs.ref || github.sha }}

on:
  workflow_dispatch:
    inputs:
      ref:
        description: ref on which to run the end-2-end tests (default is head_sha on main)
        required: false
        default: ''
      githubOwner:
        description: GitHub organization set as owner for the temp repositories (default is to use your personal account - CANNOT be a free account)
        required: false
        default: ''
      runTestMatrix:
        description: Run the end to end test scenario for the full test matrix
        type: boolean
        default: true
      includePrivateRepos:
        description: Include private repos in full test matrix
        type: boolean
        default: false
      runScenarios:
        description: Run the end to end scenario tests
        type: boolean
        default: true
      runUpgradeTests:
        description: Run the end to end upgrade tests
        type: boolean
        default: true
      bcContainerHelperVersion:
        description: Which version of BcContainerHelper to use? (latest, preview, private, a specific version number or a direct download URL like https://github.com/freddydk/navcontainerhelper/archive/master.zip - leave empty to use latest)
        required: false
        default: 'preview'

env:
  TestUpgradesFromVersion: 'v5.0'

defaults:
  run:
    shell: pwsh

permissions:
  contents: read

jobs:
  Check:
    runs-on: [ ubuntu-latest ]
    outputs:
      maxParallel: ${{ steps.check.outputs.maxParallel }}
      githubOwner: ${{ steps.check.outputs.githubOwner }}
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'microsoft'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Check secrets
        id: check
        uses: ./.github/actions/E2ECheckSecrets
        with:
          shell: pwsh
          githubOwner: ${{ github.event.inputs.githubOwner }}
          e2eAppId: ${{ vars.E2E_APP_ID }}
          e2ePrivateKey: ${{ secrets.E2E_PRIVATE_KEY }}
          algoAuthApp: ${{ secrets.ALGOAUTHAPP }}
          adminCenterApiCredentials: ${{ secrets.adminCenterApiCredentials }}
          e2eGHPackagesPAT: ${{ secrets.E2E_GHPackagesPAT }}
          e2eAzureCredentials: ${{ secrets.E2EAZURECREDENTIALS }}

  SetupRepositories:
    runs-on: [ ubuntu-latest ]
    needs: [ Check ]
    outputs:
      actionsRepo: ${{ steps.setup.outputs.actionsRepo }}
      perTenantExtensionRepo: ${{ steps.setup.outputs.perTenantExtensionRepo }}
      appSourceAppRepo: ${{ steps.setup.outputs.appSourceAppRepo }}
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'microsoft'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.inputs.ref }}

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.E2E_APP_ID }}
          private-key: ${{ secrets.E2E_PRIVATE_KEY }}
          owner: ${{ needs.Check.outputs.githubowner }}

      - name: Setup Repositories
        id: setup
        uses: ./.github/actions/E2ESetupRepositories
        with:
          shell: pwsh
          githubOwner: ${{ needs.Check.outputs.githubowner }}
          bcContainerHelperVersion: ${{ github.event.inputs.bcContainerHelperVersion }}
          token: ${{ steps.app-token.outputs.token }}

  Analyze:
    runs-on: [ ubuntu-latest ]
    needs: [ Check ]
    outputs:
      publictestruns: ${{ steps.Analyze.outputs.publictestruns }}
      privatetestruns: ${{ steps.Analyze.outputs.privatetestruns }}
      releases: ${{ steps.Analyze.outputs.releases }}
      scenarios: ${{ steps.Analyze.outputs.scenarios }}
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'microsoft'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.inputs.ref }}

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.E2E_APP_ID }}
          private-key: ${{ secrets.E2E_PRIVATE_KEY }}
          owner: ${{ needs.Check.outputs.githubowner }}

      - name: Analyze
        id: Analyze
        uses: ./.github/actions/E2EAnalyze
        with:
          shell: pwsh
          maxParallel: ${{ needs.Check.outputs.maxParallel }}
          testUpgradesFromVersion: ${{ env.TestUpgradesFromVersion }}
          token: ${{ steps.app-token.outputs.token }}

  ScenariosOnWindows:
    runs-on: [ windows-latest ]
    needs: [ Check, SetupRepositories, Analyze ]
    if: github.event.inputs.runScenarios == 'true'
    strategy: ${{ fromJson(needs.Analyze.outputs.scenarios) }}
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'microsoft'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Calculate parameters
        id: calculateParams
        uses: ./.github/actions/E2ECalculateRepoName
        with:
          shell: pwsh
          githubOwner: ${{ needs.Check.outputs.githubowner }}

      - name: Run test on Windows
        uses: ./.github/actions/E2ERunScenario
        with:
          shell: pwsh
          scenario: ${{ matrix.scenario }}
          linux: false
          githubOwner: ${{ needs.Check.outputs.githubowner }}
          repoName: ${{ steps.calculateParams.outputs.repoName }}
          e2eAppId: ${{ vars.E2E_APP_ID }}
          e2eAppKey: ${{ secrets.E2E_PRIVATE_KEY }}
          algoAuthApp: ${{ secrets.ALGOAUTHAPP }}
          pteTemplate: ${{ needs.Check.outputs.githubowner }}/${{ needs.SetupRepositories.outputs.perTenantExtensionRepo }}
          appSourceTemplate: ${{ needs.Check.outputs.githubowner }}/${{ needs.SetupRepositories.outputs.appSourceAppRepo }}
          adminCenterApiCredentials: ${{ secrets.adminCenterApiCredentials }}
          azureCredentials: ${{ secrets.E2EAzureCredentials }}
          githubPackagesToken: ${{ secrets.E2E_GHPackagesPAT }}

  ScenariosOnLinux:
    runs-on: [ windows-latest ]
    needs: [ Check, SetupRepositories, Analyze ]
    if: github.event.inputs.runScenarios == 'true'
    strategy: ${{ fromJson(needs.Analyze.outputs.scenarios) }}
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'microsoft'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Calculate parameters
        id: calculateParams
        uses: ./.github/actions/E2ECalculateRepoName
        with:
          shell: pwsh
          githubOwner: ${{ needs.Check.outputs.githubowner }}

      - name: Run tests
        uses: ./.github/actions/E2ERunScenario
        with:
          shell: pwsh
          scenario: ${{ matrix.scenario }}
          linux: true
          githubOwner: ${{ needs.Check.outputs.githubowner }}
          repoName: ${{ steps.calculateParams.outputs.repoName }}
          e2eAppId: ${{ vars.E2E_APP_ID }}
          e2eAppKey: ${{ secrets.E2E_PRIVATE_KEY }}
          algoAuthApp: ${{ secrets.ALGOAUTHAPP }}
          pteTemplate: ${{ needs.Check.outputs.githubowner }}/${{ needs.SetupRepositories.outputs.perTenantExtensionRepo }}
          appSourceTemplate: ${{ needs.Check.outputs.githubowner }}/${{ needs.SetupRepositories.outputs.appSourceAppRepo }}
          adminCenterApiCredentials: ${{ secrets.adminCenterApiCredentials }}
          azureCredentials: ${{ secrets.E2EAzureCredentials }}
          githubPackagesToken: ${{ secrets.E2E_GHPackagesPAT }}

  TestAlGoPublic:
    runs-on: [ ubuntu-latest ]
    needs: [ Check, SetupRepositories, Analyze ]
    if: github.event.inputs.runTestMatrix == 'true'
    strategy: ${{ fromJson(needs.Analyze.outputs.publictestruns) }}
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'microsoft'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Calculate parameters
        id: calculateParams
        uses: ./.github/actions/E2ECalculateTestParams
        with:
          shell: pwsh
          githubOwner: ${{ needs.Check.outputs.githubowner }}
          matrixType: ${{ matrix.type }}
          matrixStyle: ${{ matrix.style }}
          matrixOs: ${{ matrix.os }}
          adminCenterApiCredentialsSecret: ${{ secrets.adminCenterApiCredentials }}
          appSourceAppRepo: ${{ needs.SetupRepositories.outputs.appSourceAppRepo }}
          perTenantExtensionRepo: ${{ needs.SetupRepositories.outputs.perTenantExtensionRepo }}

      - name: Run tests
        uses: ./.github/actions/E2ERunTest
        with:
          shell: pwsh
          testType: test
          private: false
          githubOwner: ${{ needs.Check.outputs.githubowner }}
          repoName: ${{ steps.calculateParams.outputs.repoName }}
          e2eAppId: ${{ vars.E2E_APP_ID }}
          e2eAppKey: ${{ secrets.E2E_PRIVATE_KEY }}
          algoAuthApp: ${{ secrets.ALGOAUTHAPP }}
          template: ${{ steps.calculateParams.outputs.template }}
          adminCenterApiCredentials: ${{ steps.calculateParams.outputs.adminCenterApiCredentials }}
          multiProject: ${{ matrix.style == 'multiProject' }}
          appSource: ${{ matrix.type == 'appSourceApp' }}
          linux: ${{ matrix.os == 'linux' }}
          useCompilerFolder: ${{ matrix.Compiler == 'CompilerFolder' }}

  TestAlGoPrivate:
    runs-on: [ ubuntu-latest ]
    needs: [ Check, SetupRepositories, Analyze ]
    if: github.event.inputs.runTestMatrix == 'true' && github.event.inputs.includePrivateRepos == 'true'
    strategy: ${{ fromJson(needs.Analyze.outputs.privatetestruns) }}
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'microsoft'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Calculate parameters
        id: calculateParams
        uses: ./.github/actions/E2ECalculateTestParams
        with:
          shell: pwsh
          githubOwner: ${{ needs.Check.outputs.githubowner }}
          matrixType: ${{ matrix.type }}
          matrixStyle: ${{ matrix.style }}
          matrixOs: ${{ matrix.os }}
          adminCenterApiCredentialsSecret: ${{ secrets.adminCenterApiCredentials }}
          appSourceAppRepo: ${{ needs.SetupRepositories.outputs.appSourceAppRepo }}
          perTenantExtensionRepo: ${{ needs.SetupRepositories.outputs.perTenantExtensionRepo }}

      - name: Run tests
        uses: ./.github/actions/E2ERunTest
        with:
          shell: pwsh
          testType: test
          private: true
          githubOwner: ${{ needs.Check.outputs.githubowner }}
          repoName: ${{ steps.calculateParams.outputs.repoName }}
          e2eAppId: ${{ vars.E2E_APP_ID }}
          e2eAppKey: ${{ secrets.E2E_PRIVATE_KEY }}
          algoAuthApp: ${{ secrets.ALGOAUTHAPP }}
          template: ${{ steps.calculateParams.outputs.template }}
          adminCenterApiCredentials: ${{ steps.calculateParams.outputs.adminCenterApiCredentials }}
          multiProject: ${{ matrix.style == 'multiProject' }}
          appSource: ${{ matrix.type == 'appSourceApp' }}
          linux: ${{ matrix.os == 'linux' }}
          useCompilerFolder: ${{ matrix.Compiler == 'CompilerFolder' }}

  TestAlGoUpgrade:
    runs-on: [ ubuntu-latest ]
    needs: [ Check, SetupRepositories, Analyze ]
    if: github.event.inputs.runUpgradeTests == 'true'
    strategy: ${{ fromJson(needs.Analyze.outputs.releases) }}
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'microsoft'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Calculate parameters
        id: calculateParams
        uses: ./.github/actions/E2ECalculateTestParams
        with:
          shell: pwsh
          githubOwner: ${{ needs.Check.outputs.githubowner }}
          matrixType: ${{ matrix.type }}
          appSourceAppRepo: ${{ needs.SetupRepositories.outputs.appSourceAppRepo }}
          perTenantExtensionRepo: ${{ needs.SetupRepositories.outputs.perTenantExtensionRepo }}
          contentPath: ${{ matrix.type == 'appSourceApp' && 'appsourceapp' || 'pte' }}

      - name: Run tests
        uses: ./.github/actions/E2ERunTest
        with:
          shell: pwsh
          testType: upgrade
          githubOwner: ${{ needs.Check.outputs.githubowner }}
          repoName: ${{ steps.calculateParams.outputs.repoName }}
          e2eAppId: ${{ vars.E2E_APP_ID }}
          e2eAppKey: ${{ secrets.E2E_PRIVATE_KEY }}
          algoAuthApp: ${{ secrets.ALGOAUTHAPP }}
          template: ${{ steps.calculateParams.outputs.template }}
          appSource: ${{ matrix.type == 'appSourceApp' }}
          release: ${{ matrix.release }}
          contentPath: ${{ steps.calculateParams.outputs.contentPath }}
