name: Mark stale issues

on:
  schedule:
  - cron: '44 5 * * 2' # Tuesday, 5:44
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
    - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
      with:
        stale-issue-label: 'stale'
        days-before-issue-stale: 180
        days-before-issue-close: 14
        close-issue-message: 'There has been no recent activity on this issue. Please re-open or create a new issue, if needed.'
